#skills {
  background-color: $primary-color;
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  color: $white-color;
  height: 100%;
  border-top: 0px;
  padding-top: 8%;

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 15%;

  @include respond(tab-land) {
    padding: 10% 0;
    height: 100%;
    -webkit-clip-path: none;
    clip-path: none;
  }

  @include respond(phone) {
    padding-top: 18%;
  }

  .skills-wrapper {
    align-items: center;
    justify-content: center;

    @include respond(phone) {
      padding-bottom: 2rem;
    }

    @include respond(tab-port) {
      padding-bottom: 6.4rem;
    }
    @include respond(tab-land) {
      height: 100%;
    }
  }

  .tagcloud {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 650;
    width: 400px;
    height: 400px;
  }
  .tagcloud--item:hover {
    color: $secondary-color;
  }
}

#canvas-icon {
  max-width: 50vw !important;
  max-height: 50vh !important;
}
